<button routerLink="/users">Back To All Users</button>

<form [formGroup]="userForm" (ngSubmit)="save()">
    <label>
        User First Name
        <input type="text" formControlName="firstName">
    </label>
    <label>
        User Last Name
        <input type="text" formControlName="lastName">
    </label>
    <label>
        User Email Name
        <input type="text" formControlName="email">
    </label>
    <label>
        User Team
        <input type="number" formControlName="teamId">
    </label>
    <label>
        User Birthday
        <input type="date" formControlName="birthday">
    </label>
    <button type="submit">Save</button>
</form>