<h1>Task Details</h1>
<div *ngIf="task">
    <h2>ID - {{task.id}}</h2>
    <h2>NAME -  {{task.name}}</h2>
    <h2>DESCRIPTION -  {{task.description}}</h2>
    <h2>CREATED AT - {{task.createdAt}}</h2>
    <h2>STATE -  {{task.state}}</h2>
    <h2>PROJECT -  {{task.projectId}}</h2>
    <h2>PERFORMER -  {{task.projectId}}</h2>
</div>
<div *ngIf="!task">
    <h2>Task Not Found</h2>
</div>

<button routerLink="/tasks">Back To All Tasks</button>
