<h1>Project Details</h1>
<div *ngIf="project">
    <h2>ID - {{project.id}}</h2>
    <h2>NAME -  {{project.name}}</h2>
    <h2>DESCRIPTION - {{project.description}}</h2>
    <h2>CREATED AT - {{project.createdAt}}</h2>
    <h2>DEADLINE - {{project.deadline}}</h2>
    <h2>AUTHOR - {{project.authorId}}</h2>
    <h2>TEAM - {{project.teamId}}</h2>
</div>
<div *ngIf="!project">
    <h2>Project Not Found</h2>
</div>

<button routerLink="/projects">Back To All Projects</button>
