<h1>Team Details</h1>
<div *ngIf="team">
    <h2>ID - {{team.id}}</h2>
    <h2>NAME -  {{team.name}}</h2>
    <h2>Created At - {{team.createdAt}}</h2>
</div>
<div *ngIf="!team">
    <h2>Team Not Found</h2>
</div>

<button routerLink="/teams">Back To All Teams</button>
