<button class="add-item" routerLink="add">Add Team</button>
<h1>Teams:</h1>
<ul *ngIf="teams">
    <li *ngFor="let team of teams">
        {{team.name}}
        <button routerLink="details/{{team.id}}">Details</button>
        <button routerLink="update/{{team.id}}">Update</button>
        <button (click)="delete(team.id)">Delete</button>
    </li>
</ul>
<h4 *ngIf="!teams">Loading...</h4>