<button class="add-item" routerLink="add">Add Project</button>
<h1>Projects:</h1>
<ul *ngIf="projects">
    <li *ngFor="let project of projects">
        {{project.name}}
        <button routerLink="details/{{project.id}}">Details</button>
        <button routerLink="update/{{project.id}}">Update</button>
        <button (click)="delete(project.id)">Delete</button>
    </li>
</ul>
<h4 *ngIf="!projects">Loading...</h4>