<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/projects">Projects</a></li>
  <li><a routerLink="/tasks">Tasks</a></li>
  <li><a routerLink="/teams">Teams</a></li>
  <li><a routerLink="/users">Users</a></li>
  <li><a class="disabled" href="#queries">Queries</a></li>
</ul>
