<button routerLink="/teams">Back To All Teams</button>

<form [formGroup]="teamForm" (ngSubmit)="save()">
    <label>
        Team Name
        <input type="text" formControlName="name">
    </label>
    <button type="submit">Save</button>
</form>