<h1>User Details</h1>
<div *ngIf="user">
    <h2>ID - {{user.id}}</h2>
    <h2>NAME -  {{user.firstName}} {{user.lastName}}</h2>
    <h2>EMAIL -  {{user.email}}</h2>
    <h2>BIRTHDAY -  {{user.birthday}}</h2>
    <h2>REGISTRED AT - {{user.registeredAt}}</h2>
    <h2>TEAM ID - {{user.teamId}}</h2>
</div>
<div *ngIf="!user">
    <h2>User Not Found</h2>
</div>

<button routerLink="/users">Back To All User</button>
