<h1 class="header">Welcome to prototype of Jira</h1>
<h2 class="sub-header">Here you can:</h2>
<ul class="actions">
    <li>Manage projects</li>
    <li>Manage tasks</li>
    <li>Manage users</li>
    <li>Manage teams</li>
</ul>