<button class="add-item" routerLink="add">Add Task</button>
<h1>Tasks:</h1>
<ul *ngIf="tasks">
    <li *ngFor="let task of tasks">
        {{task.name}}
        <button routerLink="details/{{task.id}}">Details</button>
        <button routerLink="update/{{task.id}}">Update</button>
        <button (click)="delete(task.id)">Delete</button>
    </li>
</ul>
<h4 *ngIf="!tasks">Loading...</h4>