<button class="add-item" routerLink="add">Add User</button>
<h1>Users:</h1>
<ul *ngIf="users">
    <li *ngFor="let user of users">
        <span>{{user.firstName}}</span>
        <span>{{user.lastName}}</span>
        <span>{{user.email}}</span> 
        <button routerLink="details/{{user.id}}">Details</button>
        <button routerLink="update/{{user.id}}">Update</button>
        <button (click)="delete(user.id)">Delete</button>
    </li>
</ul>
<h4 *ngIf="!users">Loading...</h4>