<button routerLink="/tasks">Back To All Tasks</button>

<form [formGroup]="taskForm" (ngSubmit)="save()">
    <label>
        Task Name
        <input type="text" formControlName="name">
    </label>
    <label>
        Task Description
        <input type="text" formControlName="description">
    </label>
    <label>
        Task State
        <input type="number" formControlName="state">
    </label>
    <label>
        Task Project
        <input type="number" formControlName="projectId">
    </label>
    <label>
        Task Performer
        <input type="number" formControlName="performerId">
    </label>
    <button type="submit">Save</button>
</form>