<button routerLink="/projects">Back To All Projects</button>

<form [formGroup]="projectForm" (ngSubmit)="save()">
    <label>
        Project Name
        <input type="text" formControlName="name">
    </label>
    <label>
        Project Description
        <input type="text" formControlName="description">
    </label>
    <label>
        Project Deadline
        <input type="string" formControlName="deadline">
    </label>
    <label>
        Project Author
        <input type="number" formControlName="authorId">
    </label>
    <label>
        Project Team
        <input type="number" formControlName="teamId">
    </label>
    <button type="submit">Save</button>
</form>